:root {
  --color-main: #ff5555;
  --color-second: #7e7e7e;
  --color-disabled: #d9d9d9;
  --color-disabled-2: #f9f9f9;
  --color-link: #0080ff;
  --color-bg-topic: #daedff;
  --color-topic: #0066cc;
}
