@use "@styles/__mixins.scss" as m;

.pageHeader {
  display: grid;
  gap: 16px;
  margin-bottom: 10px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  @include m.desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}
